:root {
  --background-color1: #11001c;
  --text-color1: white;
  --text-color2: #e0e0e0;
  --text-color3: red;
  --text-color4: rgb(0, 255, 0);
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: var(--text-color1);
  background: var(--background-color1);
}

.pageContainer {
  margin-left: 15%;
  margin-right: 15%;
}

@media only screen and (max-width: 600px) {
  .pageContainer {
    margin-left: 10px;
    margin-right: 10px;
  }
}
